<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
</div>
<div class="alert alert-warning" role="warning">
<p>Form Status: {{ vacatureForm.status }}</p>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="vacatureForm">
<div class="form-group">
    <label for="name">Titel</label>
    <input type="text" class="form-control" id="titel" name="titel" placeholder="titel" formControlName="titel" minlength="2">
</div>
<div class="form-group">
    <label for="name">Omschrijving</label>
    <input type="text" class="form-control" id="omschrijving" name="omschrijving" placeholder="omschrijving" formControlName="omschrijving" minlength="2">
</div>
<div class="form-group">
    <label for="name">Kwalificaties</label>
    <input type="text" class="form-control" id="kwalificaties" name="kwalificaties" placeholder="kwalificaties" formControlName="kwalificaties" minlength="2">
</div>
<div class="form-group">
    <label for="countryId">Bedrijf</label>
    <select class="custom-select" formControlName="bedrijfId" id="bedrijfId">
        <option value="" disabled>Kies een bedrijf</option>
        <option *ngFor="let bedrijf of bedrijven" [ngValue]="bedrijf.id">{{bedrijf.naam}}</option>
    </select>
</div>
<div class="form-group">
    <label for="name">Datum van Sluiting</label>
    <input type="date" class="form-control" id="datumSluiting" name="datumSluiting" placeholder="datumSluiting" formControlName="datumSluiting" minlength="2">
</div>
    <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!vacatureForm.valid || isSubmitted">Toevoegen</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!vacatureForm.valid || isSubmitted">Opslaan</button>
    <button type="button" class="btn btn-success" (click)="terug()">Terug</button>
</form>
