<article>
    <h3>{{vacature.titel}}</h3>
    <h4>{{vacature.bedrijfId}}</h4>
    <figure>
        <img src="" alt="{{vacature.bedrijfId}}">
        <figcaption></figcaption>
    </figure>
    <section>
        <h4>Omschrijving</h4>
        <p>{{vacature.omschrijving | shortenContent : 250}}</p>
    </section>
    <section>
        <h4>Kwalificaties</h4>
        <p>{{vacature.kwalificaties}}</p>
    </section>
    <footer>
        <p>{{vacature.bedrijfId}}</p>
    </footer>
    <button type="button" class="btn btn-success" (click)="terug()">Terug</button>
    <button type="button" class="btn btn-primary" (click)="solliciteren(vacature.id)">Solliciteren</button>
</article>
