<h1>Welcome op deze jobsite</h1>
<form (ngSubmit)="onFilter()" [formGroup]="filterForm">
    <div class="row">
        <div class="form-group col-sm-5">
            <label for="bedrijfId">Bedrijf</label>
            <select class="custom-select" formControlName="bedrijfId" id="bedrijfId">
                <option value="">Kies een bedrijf</option>
                <option *ngFor="let bedrijf of bedrijven" [ngValue]="bedrijf.id">{{bedrijf.naam}} ({{bedrijf.vacatures.length}})</option>
            </select>
        </div>
        <div class="form-group col-sm-5">
            <label for="titel">Titel</label>
            <input type="text" class="form-control" id="titel" name="titel" placeholder="Titel" formControlName="titel" minlength="2">
          </div>
        <button type="submit" class="btn btn-primary col-sm-2">Zoeken</button>
    </div>
</form>


<div class="row">
    <app-vacature class="col-sm-12 col-md-12, col-lg-6, col-xl-4  d-flex align-items-stretch" *ngFor="let vacature of vacatures" [vacature]="vacature"></app-vacature>
</div>
